In [3]:
import pandas as pd
# Import necessary libraries
import warnings
warnings.filterwarnings('ignore')
import itertools
import pandas as pd
import numpy as np
import statsmodels.api as sm
import matplotlib.pyplot as plt
from matplotlib.pylab import rcParams

In [4]:
df = pd.DataFrame(pd.read_csv('zillow_data.csv'))
df.head()

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
0,84654,60657,Chicago,IL,Chicago,Cook,1,334200.0,335400.0,336500.0,...,1005500,1007500,1007800,1009600,1013300,1018700,1024400,1030700,1033800,1030600
1,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,235700.0,236900.0,236700.0,...,308000,310000,312500,314100,315000,316600,318100,319600,321100,321800
2,91982,77494,Katy,TX,Houston,Harris,3,210400.0,212200.0,212200.0,...,321000,320600,320200,320400,320800,321200,321200,323000,326900,329900
3,84616,60614,Chicago,IL,Chicago,Cook,4,498100.0,500900.0,503100.0,...,1289800,1287700,1287400,1291500,1296600,1299000,1302700,1306400,1308500,1307000
4,93144,79936,El Paso,TX,El Paso,El Paso,5,77300.0,77300.0,77300.0,...,119100,119400,120000,120300,120300,120300,120300,120500,121000,121500

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14723 entries, 0 to 14722
Columns: 272 entries, RegionID to 2018-04
dtypes: float64(219), int64(49), object(4)
memory usage: 30.6+ MB

In [6]:
df.shape

(14723, 272)

In [7]:
df.City.nunique()

7554

In [8]:
df.RegionID.nunique()

14723

In [9]:
df.RegionName.nunique()

14723

In [10]:
df.Metro.nunique()

701

In [11]:
df.CountyName.nunique()

1212

In [12]:
def melt_data(df):
    melted = pd.melt(df, id_vars=['RegionID','RegionName', 'City', 'State', 'Metro', 'CountyName', 'SizeRank'], var_name='time')
    melted['time'] = pd.to_datetime(melted['time'], infer_datetime_format=True)
    melted = melted.dropna(subset=['value'])
    return melted

In [14]:
melt_data(df).value

0           334200.0
1           235700.0
2           210400.0
3           498100.0
4            77300.0
5            95000.0
6           152900.0
7           216500.0
8            95400.0
9           766000.0
10          162000.0
11          101000.0
12          252400.0
13          190500.0
14          112400.0
15          152500.0
16          122700.0
17           97900.0
18          138900.0
19          142600.0
21         3676700.0
22          141400.0
23          138500.0
24          126100.0
25          119700.0
26           69900.0
27          139200.0
28           90900.0
29           94300.0
30          340600.0
             ...
3901565     199400.0
3901566     413400.0
3901567     227300.0
3901568     339300.0
3901569     212300.0
3901570     194100.0
3901571     321100.0
3901572      79800.0
3901573     196000.0
3901574     163700.0
3901575     540400.0
3901576     507500.0
3901577      86700.0
3901578     796600.0
3901579      28300.0
3901580     238500.0
3901581     200100.0
3901582     228000.0
3901583    2161900.0
3901584     183600.0
3901585     127500.0
3901586     266800.0
3901587     177500.0
3901588     349300.0
3901589     117700.0
3901590     209300.0
3901591     225800.0
3901592     133400.0
3901593     664400.0
3901594     357200.0
Name: value, Length: 3744704, dtype: float64

In [ ]:
zip_df =